body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe0df;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ebe0df;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

input {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Style the buttons */
button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#calculate {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

#interpretationButton {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#reset {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#result, #interpretation {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #171818;
    font-family: 'Roboto', sans-serif;
}

#designer {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.en {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #ebe0df; /* Light Blue Background */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #faf7f7;
    border-radius: 8px;
}

.fr {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #ebe0df; /* Light Blue Background */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #faf7f7;
    border-radius: 8px;
}
