body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #B565A7;
    padding: 20px;
    border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
	
}

h1 {
    color: #ffffff;
    text-align: center;
	font-size: 16px;
}

form {
    text-align: left;
	font-size: 14px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

input {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Style the buttons */
button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	font-family: 'Roboto', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#calculate {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

#interpretationButton {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#reset {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#result, #interpretation {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
	font-style: oblique;
}

#designer {
    margin-top: 10px;
    font-size: 12px;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
	font-style: italic;
}

.en {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #B565A7; /* Light Blue Background */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #B565A7;
    border-radius: 8px;
	font-style: oblique;
	font-weight: bold;
}

.fr {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #B565A7; /* Light Blue Background */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #B565A7;
    border-radius: 8px;
	font-style: oblique;
	font-weight: bold;
}
/* Add these styles at the end of your existing styles.css file */

.logo {
    position: absolute;
    top: 10px;
    right: 80px;
    width: 50px; /* Adjust the width as needed */
    height: auto;
}


